body {
    
    margin-left:20%;
    margin-right:20%;
    
}

.main-container {
    
    display:grid;
    grid-gap: 20px;
    
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}

.mid-menu {
    display:grid;
    justify-content: center;
   
}

.right-menu {
    display:grid;
    justify-content: right;

}

.image-showcase {
    width: 200%; /* treba fix */
}